<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

{% extends 'base_bootstrap.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<head>
    <meta charset="utf-8" />

    {% block title %}
    {{ super() }}
    {% endblock %}

    {% block head %}
    {{ super() }}
    {% endblock %}

</head>
<body>
    {% block page_content %}
    <div class="page-header">
        <h1>
            Please fill the information !
        </h1>
    </div>

    {{ wtf.quick_form(form) }}
    <br />
    <div>
        <p>username: {{ name | capitalize }}</p>
        <p>age: {{ age }}</p>
        <p>mail_to: {{ receiptor }}</p>
    </div>
    {% endblock %}
</body>
</html>